{% extends "encyclopedia/layout.html" %}

{% block title %}
    newPage
{% endblock %}

{% block body %}
    <h1> Create a new page</h1>
    <form action="{% url 'newPage' %}" method="post">
        {% csrf_token %}
        <label>Enter title here:
            <input class="search" type="text" name="q" placeholder="title">
        </label>
        <label>Enter mark-down code here:
            <textarea cols = 100 name="c"></textarea>
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>


{% endblock %}